@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

body {
    
    font-size: 13px;
    font-weight: bold;
    color: rgb(189, 196, 203)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px;
    color: rgb(122, 101, 77);;
}

ul>li:hover {
    color: rgb(248, 165, 56);
    font-weight: bold;
    cursor: pointer
}

hr {
    border-width: 3px
}

.card {
    padding: 2% 7%;
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #4fdb66;
    cursor: pointer;
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color:rgb(202, 67, 5);
}

.divider {
    border-top: 2px solid
}