body {
    background-color: #212529;
}

.heading{
    display: flexbox;
    text-align: center;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0px 8px -2px lightblue;
}

.search {
    position: absolute;
    right: 38%;
    top: 44%;
    padding: 10px 40px;
    border-radius: 5px;
    transition: background 1s;
  }
  
  .search:hover {
    background: rgba(82, 80, 80, 0.2);
  }
  
  .searchBar {
    background: #2f3640;
    height: 34px;
    border-radius: 34px;
    padding: 8px;
  }
  
  .searchButton {
    color: white;
    float: right;
    width: 38px;
    height: 34px;
    border-radius: 50%;
    border: 0px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  
  .searchBar:hover > .searchButton i {
    color: #e84545;
  }
  
  .searchInput {
    border: none;
    background: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    outline: none;
    line-height: 35px;
    width: 0px;
  }
  
  .searchBar:hover > .searchButton {
    background: white;
    color: #f4f9f9;
  }
  
  .searchBar:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
  }