body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fcfbb9;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(250, 248, 137);
  outline: none;
  color: white;
}

/* Set a style for all buttons */
button {
  color: white;
  background-color: rgb(65, 62, 62);
  padding: 9px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
}

/* Changes when focussed on */
button:hover {
  opacity:1;
  background-color: rgb(124, 120, 120);
  
}

/* Add an width to sign up button */
.signupbtn {
  width: 17%;
}

/* Add padding to container elements */
  .container {
    padding: 81px;
    padding-top: 30px;
    padding-right: 500px;
  }

  /* Adding float and margin */
#book{
  float: right;
  margin: 12px -423px 8px 15px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: url('img/wood-texture.jpg');
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.clearfix{
float: right;
margin: 24px -430px 0px 5px;
}

.close:hover,
.close:focus {
  color: #fcfbb9;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}