@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427 !important;
}

/* social media icons */
.social_media_div {
  position: fixed;
  left: 0%;
  top: 25%;
}

.social_media_div li {
  list-style: none;
  margin: 15px 0px;
}

.social_media_div li a i {
  text-decoration: none;
  padding: 15px 18px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

#youtube{
  border: 3px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 1s ease;
}

#gmail{
  border: 3px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 1s ease;
}

#linkedin{
  border: 3px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 1s ease;
}

#twitter{
  border: 3px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 1s ease;
}

#instagram{
  border: 3px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 1s ease;
}

.social_media_div li a:hover i {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

/* Component Cards */

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1) !important;
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  background-color: #212225;
}

body .container .card:nth-child(3n + 1) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(3n + 2) .box .content a {
  background: #e91e63;
}

body .container .card:nth-child(3n + 0) .box .content a {
  background: #23c186;
}


body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f !important;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03) !important;
}

body .container .card .box .content {
  padding: 80px 20px 20px 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
  height: 4.5rem;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
  height: 9rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}


.content h3 {
  text-transform: capitalize;
}

/* glow */

.glow {
  position: absolute;
  top: 25vh;
  left: 0;
  right: 0;
  z-index: -1;
  height: 35vh;
  width: 35vw;
  margin: 0 auto;
  transform: scale(0.75);
  -moz-filter: blur(5vw);
  filter: blur(5vw);
  background: #0fffc1;
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200%, 200%;
}