body {
  margin: 0;
  height: 100vh;
  cursor: none;
  background: #297F87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim .5s infinite alternate;
          animation: cursorAnim .5s infinite alternate;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  -webkit-animation: cursorAnim2 .5s infinite alternate;
          animation: cursorAnim2 .5s infinite alternate;
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}

h2 {
  font-size: 5em;
  font-weight: 500;
  color: #CAE4DB;
  letter-spacing: 5px;
}

h2 span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h2:hover span:nth-child(1) {
  margin-left: 30px;
}

h2:hover span:nth-child(4):after {
  content: " ' ";
}

h2:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 120px #fff;
}

h4 {
  font-style: italic;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  color: #FED049;
  font-size: 2em;
}

a {
  position: absolute;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #AF0069;
  text-transform: uppercase;
  color: #0A043C;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  bottom: 0px;
  cursor: none;
  bottom: 20px;
}

a:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: #AF0069;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

a:hover:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

a:after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: #AF0069;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

a:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

a span {
  position: relative;
  z-index: 3;
}
/*# sourceMappingURL=Cursor.css.map */