@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --myfont: 'Mulish', sans-serif;
    --my-btn-font: 'Montserrat', sans-serif;
    --lg-lightcolor: linear-gradient(to left, rgba(116, 235, 213, 0.6), rgba(159, 172, 230, 0.6));
    --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}

body {
    background-image: var(--lg-lightcolor), url('Images/bg.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--myfont);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    width: calc(100vw - 65vw);
    max-width: 100%;
}

.header {
    background: var(--lg-color);
    padding: 30px 0;
}

.header h2 {
    color: #222;
    font-family: var(--my-btn-font);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.form {
    padding: 40px;
}

.form-control {
    margin-bottom: 30px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: var(--myfont);
    font-size: 14px;
    padding: 12px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    position: absolute;
    right: 12px;
    top: 38px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form .btn {
    background: var(--lg-color);
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    font-family: var(--my-btn-font);
    font-size: 16px;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 1s ease;
}

.form .btn:hover {
    background: linear-gradient(to right, #74ebd5, #9face6);
}

@media(max-width:998px) {
    .container {
        width: calc(100vw - 35vw);
        max-width: 100%;
    }

}
