

body{
    background:#a59fa1;
    display: grid;
    justify-content: center;
}


div{
    display: grid;
    place-content: center;
    justify-content: center;
  margin:100px 150px 0 50px;
}


.loader1{
  width:5px;
  height:5px;
  background:black;
  box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 15px,
             5px 15px,
             10px 15px,
             15px 15px,
             20px 15px,
             /*fifth row*/
             0px 20px,
             5px 20px,
             10px 20px,
             15px 20px,
             20px 20px;
  
  animation:load1 2s alternate infinite;
}

@keyframes load1{
 4%{
   box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 15px,
             5px 15px,
             10px 15px,
             15px 15px,
             20px 15px,
             /*fifth row*/
             0px 20px,
             5px 20px,
             10px 20px,
             15px 20px,
             20px 70px;
 }
  
  8%{ box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 15px,
             5px 15px,
             10px 15px,
             15px 15px,
             20px 15px,
             /*fifth row*/
             0px 20px,
             5px 20px,
             10px 20px,
             15px 70px,
             20px 70px;
  }
  12%{ box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 15px,
             5px 15px,
             10px 15px,
             15px 15px,
             20px 15px,
             /*fifth row*/
             0px 20px,
             5px 70px,
             10px 20px,
             15px 70px,
             20px 70px;}
  16%{ box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 15px,
             5px 15px,
             10px 15px,
             15px 15px,
             20px 15px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 20px,
             15px 70px,
             20px 70px;}
  20%{ box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 15px,
             5px 15px,
             10px 15px,
             15px 15px,
             20px 15px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  24%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 15px,
             5px 15px,
             10px 15px,
             15px 65px,
             20px 15px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  28%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 65px,
             5px 15px,
             10px 15px,
             15px 65px,
             20px 15px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  32%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 65px,
             5px 15px,
             10px 15px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  36%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 65px,
             5px 15px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  40%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 10px,
             20px 10px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  44%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 10px,
             15px 60px,
             20px 10px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  48%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 10px,
             10px 60px,
             15px 60px,
             20px 10px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  52%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 10px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  56%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 10px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  60%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 5px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  64%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 55px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 5px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  68%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 55px,
             5px 5px,
             10px 5px,
             15px 5px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  72%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 55px,
             5px 5px,
             10px 5px,
             15px 55px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  76%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 55px,
             5px 55px,
             10px 5px,
             15px 55px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  80%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 0,
             15px 0,
             20px 0,
             /*second row*/
             0px 55px,
             5px 55px,
             10px 55px,
             15px 55px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  84%{box-shadow:0 0 0,/*first row*/
             5px 0,
             10px 50px,
             15px 0,
             20px 0,
             /*second row*/
             0px 55px,
             5px 55px,
             10px 55px,
             15px 55px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  88%{box-shadow:0 0 0,/*first row*/
             5px 50px,
             10px 50px,
             15px 0,
             20px 0,
             /*second row*/
             0px 55px,
             5px 55px,
             10px 55px,
             15px 55px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  92%{box-shadow:0 50px,/*first row*/
             5px 50px,
             10px 50px,
             15px 0,
             20px 0,
             /*second row*/
             0px 55px,
             5px 55px,
             10px 55px,
             15px 55px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  96%{box-shadow:0 50px,/*first row*/
             5px 50px,
             10px 50px,
             15px 50px,
             20px 0,
             /*second row*/
             0px 55px,
             5px 55px,
             10px 55px,
             15px 55px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;}
  100%{box-shadow:0 50px,/*first row*/
             5px 50px,
             10px 50px,
             15px 50px,
             20px 50px,
             /*second row*/
             0px 55px,
             5px 55px,
             10px 55px,
             15px 55px,
             20px 55px,
             /*third row*/
             0px 60px,
             5px 60px,
             10px 60px,
             15px 60px,
             20px 60px,
             /*fourth row*/
             0px 65px,
             5px 65px,
             10px 65px,
             15px 65px,
             20px 65px,
             /*fifth row*/
             0px 70px,
             5px 70px,
             10px 70px,
             15px 70px,
             20px 70px;
  }
  


}

