body{
  overflow-x: hidden;
}
.name {
  position: relative;
  left: 0;
  width: 100%;
  top: 1rem;
  font-size: 1.7rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(253, 253, 253);
}
.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 12.8%;
  width: 100%;
  background: #075ac7;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.navbar ul li {
    position: relative;
    display: block;
    list-style: none;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    right: 2%;
    border-radius: 15px 15px 0px 0px;
}

.navbar ul li.active {
  background: rgb(253, 253, 253);
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(253, 253, 253);
  cursor: pointer;
}

.navbar ul li.active a {
  color: #075ac7;
}
.navbar ul li b.left-curve {
  position: absolute;
  bottom: 0px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: rgb(253, 255, 255);
  display: none;
}

.navbar ul li b.left-curve::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #075ac7;
}

.navbar ul li b.right-curve {
  position: absolute;
  right: -20px;
  top: 0px;
  height: 100%;
  width: 20px;
  background: rgb(253, 253, 253);
  display: none;
}

.navbar ul li b.right-curve::before {
  content: "";
  right: 0;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  border-bottom-left-radius: 20px;
  background: #075ac7;
}

.navbar ul li.active b.left-curve,
.navbar ul li.active b.right-curve {
  display: block;
}
 @media only screen and (max-width: 1495px) {
    *{
        font-size: 1rem;
        overflow-x: hidden;
        text-align: center;
        align-items: center;
    }
    .navbar .name{
        left: -15%;
    }
    .navbar {
        height: 14%;
    } 
    .navbar ul li{
        top: .5rem;
        right: 5%;
    }
 }
 @media only screen and (max-width: 811px) {
    *{
        font-size: .9rem;
        overflow-x: hidden;
        text-align: center;
        align-items: center;
        
    }
    .navbar {
        height: 12.7%;
    } 
    .navbar ul li{
        top: .5rem;
        right: 5%;
    }
 }
 @media only screen and (max-width: 693px) {
    *{
        font-size: .8rem;
        overflow-x: hidden;
        text-align: center;
        align-items: center;
        
    }
    .navbar {
        height: 11.1%;
    } 
    .navbar ul li{
        top: .5rem;
        right: 5%;
    }
 }
 @media only screen and (max-width: 617px) {
    *{
        font-size: .8rem;
        overflow-x: hidden;
        text-align: center;
        align-items: center;
    }
    .navbar {
        height: 11%;
    } 
    .navbar ul li{
        right: 5%;
    }
 }
 @media only screen and (max-width: 567px) {
    *{
        font-size: .7rem;
        overflow-x: hidden;
        text-align: center;
        align-items: center;
    }
    .navbar{
        height: 40%;
    } 
    .navbar ul li{
        right: 5%;
    }
 }